$red-main: red;
$green-main: green;
$white-main: white;
$black-main: black;
$red-1: saturate($red-main, 20%);
$red-2: lighten($red-main, 40%);
$red-3: darken($red-main, 15%);
$green-1: saturate($green-main, 20%);
$green-2: lighten($green-main, 65%);
$green-3: darken($green-main, 7%);
$black-1: saturate($black-main, 20%);
$black-2: lighten($black-main, 65%);
$black-3: darken($black-main, 7%);

* {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.03rem;
}

main {
  margin: auto;
  max-width: 55%;
}

nav {
  margin: 0 auto 30px;
  max-width: 65%;
  display: flex;
  padding: 5px;
  align-items: center;

  > button {
    &:first-of-type {
      margin: 0 auto 0 0;
    }

    &:last-of-type {
      margin: 0 0 0 auto;
    }
  }

  > ul {
    display: flex;
    flex-direction: row;

    > li {
      > a {
        text-decoration: none;

        &.active {
          font-weight: bold;
        }
      }

      &:not(:last-of-type) {
        margin-right: 30px;
      }
    }
  }

  &.black {
    background-color: $black-2;
  }

  &.green {
    background-color: $green-2;
  }

  &.red {
    background-color: $red-2;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h3,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.black {
  color: $black-1;
}

.green {
  color: $green-1;
}

.red {
  color: $red-1;
}

a,
p,
span {
  &.active {
    font-weight: bold;
  }

  &.bold {
    font-weight: bold;
  }
}

div,
article {
  &.black {
    border-color: $black-3;
  }

  &.green {
    border-color: $green-3;
  }

  &.red {
    border-color: $red-3;
  }
}

%measures {
  padding: 0.5em;
  border: 2px solid;
  margin: 0.5rem 0;
}

button {
  @extend %measures;

  border-radius: 5px;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.black {
    border-color: $black-3;
    background-color: $black-1;
    color: $white-main;
  }

  &.green {
    border-color: $green-3;
    background-color: $green-1;
    color: $white-main;
  }

  &.red {
    border-color: $red-3;
    background-color: $red-1;
    color: $white-main;
  }
}

input[type='file'],
input[type='text'],
input[type='password'],
select {
  @extend %measures;

  flex: 1;
  border-radius: 5px;

  &.black {
    background-color: $black-2;
    border-color: $black-3;
    color: $white-main;
  }

  &.green {
    background-color: $green-2;
    border-color: $green-3;
    color: $black-main;
  }

  &.red {
    background-color: $red-2;
    border-color: $red-3;
    color: $black-main;
  }
}

select {
  text-transform: capitalize;
  height: 32px;
  width: 100%;
}

.no-wrap {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;

  @extend %space-between;

  @media (max-width: 750px) {
    flex-flow: row wrap;

    > :not(:last-child) {
      margin-right: 0;
    }
  }
}

.to-do-edit {
  display: flex;
  flex-direction: column;
  flex: 1;
}

%space-between {
  > :not(:last-child) {
    margin-right: 0.5rem;
  }
}

.space-between {
  @extend %space-between;
}

.pushes {
  > :last-child {
    margin-left: auto;
  }
}

.error {
  color: $red-main;
}

.missing {
  color: $red-main;
  font-size: 12px;
}

.to-dos-options {
  margin-bottom: 0.5rem;
}

.to-do {
  border-style: solid;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

%spinier {
  .lds-ellipsis {
    margin-left: 25%;
    margin-top: 28px;
    position: absolute;
  }

  .lds-ellipsis div {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
}

.spinier-red {
  @extend %spinier;

  .lds-ellipsis div {
    background: $red-1;
  }
}

.spinier-green {
  @extend %spinier;

  .lds-ellipsis div {
    background: $green-1;
  }
}

.spinier-black {
  @extend %spinier;

  .lds-ellipsis div {
    background: $black-1;
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

#sort-order {
  > p {
    font-weight: bold;
  }

  > span {
    cursor: pointer;

    > img {
      width: 10px;
      height: 10px;
      margin-left: 5px;
    }

    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }
}

#messages {
  > p {
    &.user-self {
      text-align: right;
    }

    > span {
      font-weight: bold;
    }
  }
}

#rooms {
  display: flex;

  > #list {
    > p {
      cursor: pointer;
      padding: 0.2rem;
      margin: 0;

      &.active {
        font-weight: bold;
      }
    }
  }

  & > div {
    border-style: solid;
    padding: 0.5rem;

    &:last-of-type {
      margin-left: 0.5rem;
      flex: 1 1;
    }
  }
}

.priority {
  width: 20px;
  height: -webkit-fill-available;
}

#map {
  border-style: solid;
  margin-bottom: 0.5rem;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

path.rsm-geography {
  outline: none;
}

#images {
  display: flex;
  align-items: center;
}

#image {
  width: 49%;
  margin-bottom: 1%;

  &:not(:last-of-type) {
    margin-right: 1%;
  }
}

#carrousel {
  &.black {
    background-color: $black-2;
  }

  &.green {
    background-color: $green-2;
  }

  &.red {
    background-color: $red-2;
  }

  > #top {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 5px 0;

    > span {
      position: absolute;
      cursor: pointer;
      font-weight: bold;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-of-type {
        left: 0px;
      }

      &:last-of-type {
        right: 0px;
      }
    }

    > img {
      max-width: 100%;
      max-height: 300px;
    }

    #dots {
      position: absolute;
      bottom: 0;

      > span {
        cursor: pointer;
        height: 0.75rem;
        width: 0.75rem;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin: 0.5rem;

        &.current.black {
          background-color: $black-1;
        }

        &.current.green {
          background-color: $green-1;
        }

        &.current.red {
          background-color: $red-1;
        }
      }
    }
  }

  > #footer {
    display: flex;
    margin-top: 2%;
    border-top: 2px solid;
    padding: 5px;
    overflow-x: auto;

    > img {
      max-width: 100%;
      max-height: 100px;
      border-bottom: 5px solid transparent;

      &:not(:last-of-type) {
        margin-right: 1%;
      }

      &.current.black {
        border-color: $black-1;
      }

      &.current.green {
        border-color: $green-1;
      }

      &.current.red {
        border-color: $red-1;
      }
    }
  }
}
