html,
* {
  box-sizing: border-box;
}

body,
input {
  font: caption;
}

input {
  padding: 0.5em;
  border: 1px solid #f32e5b;
  background-color: #fbbfcd;
}

input:not(:first-of-type) {
  border-left: none;
}

button,
.button,
input[type='submit'] {
  background-color: #f32e5b;
  border: 1px solid #e10d3d;
  color: white;
  padding: 0.5em;
  transition: all 0.2s;
}

button:hover,
.button:hover,
input[type='submit']:hover {
  background-color: #f65e81;
}

button:active,
.button:active,
input[type='submit']:active {
  background-color: #f4466e;
}

button.full-width,
.button.full-width,
input[type='submit'].full-width {
  width: 100%;
  margin: 1em 0;
}

.Application {
  margin: auto;
  max-width: 400px;
}

.ToDos-searchTerm {
  background-color: white;
  margin-bottom: 0.5em;
  width: 100%;
}

.ToDo {
  border: 1px solid #f4466e;
  padding: 1em;
  margin: 1em 0;
}

.ToDo h3 {
  margin-top: 0;
}

.ToDo-done {
  color: #f4466e;
}

.NewToDo {
  display: flex;
}

.NewToDo-input {
  width: 100%;
}

.lds-roller {
  margin-left: 40%;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: -4px 0 0 -4px;
}

$add: 7;
$top: 56;
$childLength: 8;

@for $i from 1 through $childLength {
  $time: ($i * 36) / -1000;

  .lds-roller div:nth-child(#{$i}) {
    animation-delay: #{$time}s;
  }

  $top: $top + if($i <= ($childLength / 2), $add, (-$add));

  .lds-roller div:nth-child(#{$i}):after {
    background-color: #f32e5b;
    left: #{64 - (($i - 1) * 8)}px;
    top: #{$top}px;
  }

  @if ($i < ($childLength / 2)) {
    $add: $add - 2;
  } @else if($i == ($childLength / 2)) {
    $add: 1;
  } @else {
    $add: $add + 2;
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
