$red-1: red;
$red-2: #f32e5b;
$red-3: #e10d3d;
$pink-1: #fbbfcd;
$pink-2: #f65e81;
$white-1: white;
$green-1: green;
$green-2: rgb(106, 209, 106);
$green-3: rgb(92, 151, 92);
$childLength: 8;
$add: 7;
$top: 56;

html,
* {
  box-sizing: border-box;
}

body,
input,
select {
  font: caption;
}

input {
  padding: 0.5em;
}

input:not(:first-of-type) {
  border-left: none;
}

button,
.button,
input[type='submit'] {
  color: $white-1;
  padding: 0.5em;
  transition: all 0.2s;
}

button.full-width,
.button.full-width,
input[type='submit'].full-width {
  width: 100%;
  margin: 1em 0;
}

select {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 10px;
}

.Application {
  margin: auto;
  max-width: 400px;
}

%to-do {
  border: 1px solid;
  padding: 1em;
  margin: 1em 0;

  h3 {
    margin-top: 0;
  }
}

.to-do-red {
  @extend %to-do;
  border-color: $red-2;
}

.to-do-green {
  @extend %to-do;
  border-color: green;
}

.to-do-control-done-red {
  color: $red-2;
}

.to-do-control-done-green {
  color: $green-1;
}

%new-to-do {
  display: flex;

  .input {
    border: 1px solid;
    width: 100%;
  }

  .submit {
    border: 1px solid;

    &:hover {
      background-color: $white-1;
    }
  }
}

.new-to-do-red {
  @extend %new-to-do;

  .input {
    border-color: $red-2;
    background-color: $pink-1;
  }

  .submit {
    background-color: $red-2;
    border-color: $red-3;

    &:hover {
      background-color: $pink-2;
    }
  }
}

.new-to-do-green {
  @extend %new-to-do;

  .input {
    border-color: $green-1;
    background-color: $green-2;
  }

  .submit {
    background-color: $green-1;
    border-color: $green-3;

    &:hover {
      background-color: $green-2;
    }
  }
}

%lds-roller {
  margin-left: 40%;

  div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;

    &:after {
      content: ' ';
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      margin: -4px 0 0 -4px;
    }

    @for $i from 1 through $childLength {
      $time: ($i * 36) / -1000;
      $top: $top + if($i <= ($childLength / 2), $add, (-$add));

      &:nth-child(#{$i}) {
        animation-delay: #{$time}s;

        &:after {
          left: #{64 - (($i - 1) * 8)}px;
          top: #{$top}px;
        }
      }

      @if ($i < ($childLength / 2)) {
        $add: $add - 2;
      } @else if($i == ($childLength / 2)) {
        $add: 1;
      } @else {
        $add: $add + 2;
      }
    }
  }
}

.lds-roller-red {
  @extend %lds-roller;

  @for $i from 1 through $childLength {
    div:nth-child(#{$i}):after {
      background-color: $red-2;
    }
  }
}

.lds-roller-green {
  @extend %lds-roller;

  @for $i from 1 through $childLength {
    div:nth-child(#{$i}):after {
      background-color: $green-1;
    }
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: $red-1;
}

%dropdown {
  border: 1px solid;
  width: 100%;
}

.dropdown-red {
  @extend %dropdown;
  border-color: $red-2;
  background-color: $pink-1;
}

.dropdown-green {
  @extend %dropdown;
  border-color: $green-1;
  background-color: $green-2;
}
