$red-1: red;
$red-2: #f32e5b;
$red-3: #e10d3d;
$pink-1: #fbbfcd;
$pink-2: #f65e81;
$white-1: white;
$green-1: green;
$green-2: rgb(106, 209, 106);
$green-3: rgb(92, 151, 92);
$childLength: 8;
$add: 7;
$top: 56;

html,
* {
  box-sizing: border-box;
}

body,
input,
select {
  font: caption;
}

input {
  padding: 0.5em;
}

input:not(:first-of-type) {
  border-left: none;
}

button,
.button,
input[type='submit'] {
  color: $white-1;
  padding: 0.5em;
  transition: all 0.2s;
}

button.full-width,
.button.full-width,
input[type='submit'].full-width {
  width: 100%;
  margin: 1em 0;
}

select {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 10px;
}

.Application {
  margin: auto;
  max-width: 400px;
}

%to-do {
  border: 1px solid;
  padding: 1em;
  margin: 1em 0;

  h3 {
    margin-top: 0;
  }
}

.to-do-red {
  @extend %to-do;
  border-color: $red-2;
}

.to-do-green {
  @extend %to-do;
  border-color: green;
}

.to-do-control-done-red {
  color: $red-2;
}

.to-do-control-done-green {
  color: $green-1;
}

%new-to-do {
  display: flex;

  .input {
    border: 1px solid;
    width: 100%;
  }

  .submit {
    border: 1px solid;

    &:hover {
      background-color: $white-1;
    }
  }
}

.new-to-do-red {
  @extend %new-to-do;

  .input {
    border-color: $red-2;
    background-color: $pink-1;
  }

  .submit {
    background-color: $red-2;
    border-color: $red-3;

    &:hover {
      background-color: $pink-2;
    }
  }
}

.new-to-do-green {
  @extend %new-to-do;

  .input {
    border-color: $green-1;
    background-color: $green-2;
  }

  .submit {
    background-color: $green-1;
    border-color: $green-3;

    &:hover {
      background-color: $green-2;
    }
  }
}

.error {
  color: $red-1;
}

%dropdown {
  border: 1px solid;
  width: 100%;
}

.dropdown-red {
  @extend %dropdown;
  border-color: $red-2;
  background-color: $pink-1;
}

.dropdown-green {
  @extend %dropdown;
  border-color: $green-1;
  background-color: $green-2;
}

%spinier {
  .lds-ellipsis {
    margin-left: 13%;
    margin-top: 27px;
    position: absolute;
  }

  .lds-ellipsis div {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
}

.spinier-red {
  @extend %spinier;

  .lds-ellipsis div {
    background: $red-1;
  }
}

.spinier-green {
  @extend %spinier;

  .lds-ellipsis div {
    background: $green-1;
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
